<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.kalisz.ak.rafal.peczek.mojepomiary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_wlasna"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_wlasna"
        android:supportsRtl="true"
        android:theme="@style/Theme.MojePomiary">


<!--        <activity-->
<!--            android:name=".wpisyPomiary.WpisPomiarEdytuj"-->
<!--            android:exported="false"-->
<!--            android:label="Edycia wpisu"-->
<!--            android:parentActivityName=".MainActivity"-->
<!--            android:theme="@style/MyAppTheme"-->
<!--            android:windowSoftInputMode="stateHidden" />-->
        <activity
            android:name=".wpisyLeki.WpisLekDopisz"
            android:exported="false"
            android:label="Dodawanie wpisu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".leki.LekDopisz"
            android:exported="false"
            android:label="Dodawanie leku"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".leki.LekEdytuj"
            android:exported="false"
            android:label="Edycia leku"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".terapie.EtapTerapiActivity"
            android:exported="false"
            android:label="Etap terapi"
            android:theme="@style/MyAppTheme"/>
        <activity
            android:name=".wpisyPomiary.WpisPomiarEdytuj"
            android:exported="false"
            android:label="Edycia wpisu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".wpisyPomiary.WpisPomiarDopisz"
            android:exported="false"
            android:label="Dodawanie wpisu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".terapie.TerapiaEdytuj"
            android:exported="false"
            android:label="Edycia terapii"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".terapie.TerapiaDopisz"
            android:exported="false"
            android:label="Dodawanie terapii"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".pomiary.PomiarEdytuj"
            android:exported="false"
            android:label="Edycia pomiaru"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".pomiary.PomiarDopisz"
            android:exported="false"
            android:label="Dodawanie pomiaru"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".jednostki.JednostkiEdytuj"
            android:exported="false"
            android:label="Edycja jednostki"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".jednostki.JednostkiDopisz"
            android:exported="false"
            android:label="Dodawanie jednostki"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:label="Rejestracja"
            android:parentActivityName=".auth.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:label="Logowanie"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
<!--        <activity-->
<!--            android:name=".lab12.Ustawienia"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_ustawienia"-->
<!--            android:parentActivityName=".MainActivity"-->
<!--            android:theme="@style/MyAppTheme" />-->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.MojePomiary">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".recivers.OdbiornikPowiadomien" />
        <receiver
            android:name=".recivers.SampleBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>